*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.nstu_logo{
     height: 80px;
     padding: 5px;
     float:left; 
    
}
.nstu{
    float: left;
    margin-top: 15px;
    padding-left: 20px;
}
.main-heading{
    border-bottom: 5px solid navy;
}
.marquee{
    border: 2px solid rgb(129, 129, 255);
    background-color: rgb(175, 200, 255);
    
    box-shadow: 2px 2px 5px #54a2a1;
}
.marquee .top-notice{
    background-color: #025585;
    color: rgb(253, 253, 253);
    border: 2px solid rgb(255, 255, 255);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 1px 1px rgb(255, 255, 255);
}
.marquee marquee{
    margin-top: 7px;
    width: 100%;
    
}
.slide{
    border: 4px solid rgb(1, 56, 134);
}
.col-img{
    border: 2px solid #025585;
    
}

.notice{
    list-style: none;
    background: #ffffff;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 1px 1px 6px rgb(144, 143, 143);
    height: 37vh;
    overflow: hidden;

   
   
}
.notice li{
    border-bottom: 1px solid rgb(187, 187, 187);
    margin-left: 5px;
   
}
.notice h4{

    background-color: rgb(0, 37, 101);
    color: rgb(255, 255, 255);
    padding: 5px;
    box-shadow: 2px 4px 1px rgb(160, 159, 159);
    


}

.carousel-inner img {
    width: 100%;
    height: 77vh;
}
.carousel-caption{
    color: black;
}
.marqueeTwo{
    /* width: 100vw; */
    height: 70vh ;
    overflow: hidden; 
}
.marquee-image{
    border: 5px solid rgb(0, 37, 101) ;
    padding: 0px;
    box-shadow: 2px 4px 1px rgb(160, 159, 159);
}
.marquee-heading{
    background-color: rgb(0, 37, 101);
    padding: 4px;
    color: rgb(255, 255, 255);
}
.marqueeTwo-content{
    list-style: none;
    height: 100%;
    animation: scrolling 15s linear infinite ;
}
@keyframes scrolling {
    0%{
        transform: translateY(0vh);
    }
    100%{
        transform: translateY(-80vh);
    }
    
}


.marqueeTwo-content li img{
    height: 20vh;
    margin-bottom: 10px;
    /* width: 10vw;  */
    border: 4px solid #428180;

}









/* login and register Pages */
.login{
    min-height: 100vh;
    background-image: url('../image/Fountain\ pen.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.dept{

    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
.login-btn{
    color: #ffffff;
    font-size: 20px;
    width: 150px;
    border-radius: 30px;
    background: linear-gradient(to right,navy,gray);
    outline: none;
}
.login-btn:hover{
    color: beige;
    font-size: 20px;
    width: 150px;
    border-radius: 30px;
    background: linear-gradient(to right,rgb(25, 25, 139),rgb(170, 168, 168));
    outline: none;
}

/*  Deshboard */
/* .desh-nav{
    height: 100vh;
    box-shadow: 5px 0px 4px rgb(167, 162, 162);
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom,rgb(198, 217, 255),rgb(221, 221, 255));

} */
.sidebar ul{
    list-style: none;
    
}

.sidebar ul li{
    margin: 20px;
    
}

.profile-image{
    border: 2px solid #025585;
    width: 120px;
    height: 120px;
    padding: 5px;
    margin-bottom: 30px;

}
  
  .sidebar {
    
    box-shadow: 5px 0px 4px rgb(167, 162, 162);
    display: flex; 
    justify-content: center; 
    background: linear-gradient(to bottom,rgb(198, 217, 255),rgb(221, 221, 255));
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
   
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
  }
  
  .sidebar a {
    text-decoration: none;
    font-size: 20px;
    color: #0c527a;
    transition: 0.3s; 
    padding: 10px;
  }
  
  .sidebar a:hover {
    color: rgb(255, 255, 255);
    background:linear-gradient(to right,rgb(51, 51, 255),rgb(83, 83, 255));
    box-shadow: 1px 2px 2px rgb(244, 89, 72);
    border-radius: 5px;
    
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    background:linear-gradient(to right , rgb(142, 142, 255) ,rgb(133, 133, 253));
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  .upload-form{
      padding: 20px;
      border: 2px dashed rgb(195, 196, 252);
  }
  .list-of-notice{
    padding: 20px;
    border: 2px dashed rgb(195, 196, 252);
  }
  .image-profile{
      width: 150px;
      height: 150px;
  }
  .profile{
    padding: 20px;
    border: 2px dashed rgb(195, 196, 252);
  }
  .edit-profile{
    padding: 20px;
    border: 2px dashed rgb(195, 196, 252);
  }
  /* #upload{
      display: none;
  } */
  #list-of-notice{
    display: none;
  }
  #profile{
    display: none;
  }
  #edit-profile{
    display: none;
  }